
        <%- include('./partials/nav.ejs')  %>
        <div class="container bg-light mt-4">
            <div>
                <ul class="list-group">
                    <a href="/home/listview" class="list-group-item list-group-item-action list-group-item-primary">List</a>
                    <a href="/home/table" class="list-group-item list-group-item-action list-group-item-primary">Table</a>
                    <a href="/home/card" class="list-group-item list-group-item-action list-group-item-primary">Card</a>
                    <a href="/count" class="list-group-item list-group-item-action list-group-item-primary">Counter</a>
                </ul>
            </div>
        </div>
        
        <%- include('./partials/footer.ejs')  %>